@import url('../assets/fonts/Open_Sans/open_sans.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --accent-color: #3f42fc;
    --background-color:#e6e6e9;
    --foreground-color: #f7f7f9;
    --color: rgb(27, 27, 27);
    font-family: 'OpenSans';
    color: var(--color);
}

body{
    background-color: var(--background-color);
}
header, footer{
    width:100vw;
    height: 70px;
    background-color: var(--foreground-color);
    box-shadow: 0 5px 25px rgba(8, 0, 29, 0.1);
    border-radius: 0 0 8px 8px;
    padding: 0 10%;  
    display: flex;
    justify-content: center;
    align-items: center; 
}
@media only screen and (max-width: 900px){
    header, footer{
        padding: 0 3%;
    }
}
a{
    text-decoration: none;
    color: var(--color);
}
.menuSides{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menuSides-right{
    justify-content: right;
    min-width: 512px;
}
.menuSides-right .button{
    margin-left: 20px;
}
.logo{
    height: 50px;
}
.button{
    border-radius: 4px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 100px;
    min-height: 50px;
    padding: 10px;
    background-color: #e4e4e4;
    box-shadow: 0 0 10px rgba(8, 0, 29, 0.15);
    transition: all .3s;
}
.button:hover{
    background-color: #ececec;
    box-shadow: 0 0 5px rgba(8, 0, 29, 0.1);
}
.button:active{
    background-color: white;
    box-shadow: 0 0 2px rgba(8, 0, 29, 0.01);
}
.activeMenuButton{
    color: white;
    background-color: var(--accent-color);
}
.activeMenuButton:hover{
    background-color: #787bff;
}
.card{
    padding: 15px;
    background-color: rgba(255,255,255,.4);
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 25px rgba(8, 0, 29, 0.15);
    margin: 5px 0;
}
.card-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-half{
    width: calc(50% - 20px);
    margin: 10px;
    min-width: 350px;
    transition: box-shadow .3s, background-color .3s;
}
.card-half:hover{
    background-color:rgba(255, 255, 255, 0.746);
    box-shadow: 2px 2px 5px rgba(8, 0, 29, 0.15);
}
.card-blue{
    background-color: rgb(76, 47, 245);
}
.card-blue > p, .card-blue > h2,.card-pink > p, .card-pink > h2, .card-green > p, .card-green > h2{
    color: rgba(255,255,255,.9)
}
.card-green{
    background-color: rgb(5, 155, 0);
}
.card-pink{
    background: rgb(153, 1, 101)
}
.wrapper{
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: hidden auto;
}
main{
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.mainContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    min-width: 330px;
}
img{
    width: 100%;
    border-radius: 5px;
}
footer{
    min-height: 400px;
    border-radius: 8px 8px 0 0;
    background: var(--accent-color);
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
    flex-wrap: wrap;
}
.footerColumn{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:whitesmoke;
    min-width: 300px;
}
.footerColumn > h4{
    color: whitesmoke;
}
.footerColumn > a{
    color: whitesmoke;
    margin-top: 20px;
}
.footerColumn > a:hover{
    text-decoration: underline;
}
.footerLogo{
    max-width: 50%;
}

h1{
    font-size: 50px;
    color:rgb(65, 65, 65)
}
h2{
    margin-bottom: 20px;
}
.cardText{
    font-size: 20px;
    margin-bottom: 20px;
}
iframe{
    border: none;
    width: 100%;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .mainContent{
        width: 100%;
    }
    .wrapper{
        height: auto;
    }
}