.downloadButton{
    background-color: #3f42fc;
    color: white;
    min-width: 250px;
    height:60px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 45px;
    width:40%;
    border-radius:5px;
    backdrop-filter: blur(10px);

}
.card-image, .card-experimental{
    min-height: 500px;
    background-size: cover;
    background-image: url(https://www.blender.org/wp-content/uploads/2013/04/gleb-alexandrov-sunrise-02.jpg?x18175);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: column;
}
h2{
    /* color: rgba(255, 255, 255, 0.678); */
    text-align: center;
}
.card-experimental{
    background-image: url(    https://www.blender.org/wp-content/uploads/2021/05/blender_293_splash_erindale_s-e1620391412241.jpg
    );
}
.card-centered{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}