table{
	width: 100%;
	border-spacing: 10px;
}
.card-table{
	width: 33%;
	margin: 5px;
	transition: all 0.3s;
	cursor: pointer;
}
.card-table:hover{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}